:root { 
  --primary: #B5A1E5; 
}

*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
  background: var(--primary);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
}

.container{
  width: 40%;
  min-width: 600px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.wrapper{
  padding: 10px 10px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

form{
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

form input{
  background-color: transparent;
  flex: 1;
  height: 100%;
  padding: 0 20px;
  outline: none;
  border: none;
}

form button{
  border-radius: 20px;
  background-color: transparent;
  height: 100%;
  outline: 0;
  border: 0;
}

form img{
  width: 20px;
  padding: 0 20px;
}

main{
  margin-top: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  color: black;
  margin-bottom: 20px;
}

.full{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.padding-wrapper{
  padding: 15px 20px;
}

.upper{
  display: flex;
  justify-content: space-between;
}

.upper .Time{
  font-size: 30px;
}

.middle{
  display: flex;
  align-items: center;
  gap: 30px;
}

.middle .main-degree{
  font-size: 50px;
}

.other{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

}

.other-item{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  padding:  10px 10px;
  gap: 5px;
  border-radius: 10px;
  color: black;
}


.detail-fetch{
  font-size: 20px;
}

.search{
  display: block;
}

@media (max-width: 600px){
  body{
    height: auto;
  }
 .container{
  min-width: 550px;
  background: none;
  box-shadow: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-radius: none;
  border: none;
 } 
 .other{
  grid-template-columns: 1fr 1fr;
 }
 .wrapper{
  padding: 20px;
}
}

@media (max-width: 550px){
  .container{
    min-width: 400px;
  }
  .middle{
    flex-direction: column;
    align-items: start;
    gap: 5px;
   }
   .middle img{
    display: none;
   }
}

@media (max-width: 450px){
 .container{
  min-width: 425px;
  }

 .other{
  grid-template-columns: 1fr 1fr;
 }
}

@media (max-width: 450px){
  .container{
   min-width: 375px;
   }
  
  .middle img{
    display: none;
  }
 
  .other{
   grid-template-columns: 1fr;
  }
 }

 @media (max-width: 320px){
  .container{
   min-width: 320px;
   }
 }

 .custom-loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #F4F4F4;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: s7 0.5s infinite steps(8);
}

@keyframes s7 {
  100% {transform: rotate(1turn)}
}